# =============================================================================
# プロジェクト固有の設定
# =============================================================================

# 個人用のファイルや設定を格納するディレクトリ
local/
private/

# データディレクトリ
1_input_lists/**/*.jsonl
2_raw_responses
3_raw_data
4_processing_data

# =============================================================================
# 共通設定
# =============================================================================

# IDE / Editor
.idea/
.vscode/

# Environments
.env
.envrc

# Logs
*.log
